body, pre { font-family: Arial, Verdana, sans-serif; }
pre {
  margin: 0;
  white-space: pre-wrap;
}
body {
  background-color: #9DA7AA;
}
.dialog {
  background-color: white;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 600px;
  padding: 1em;
}
.login label {
  text-align: left;
  font-weight: bold;
}
.login input {
  font-size: 1.5em;
}
.login button {
  padding: 1em;
  border: none;
  border-radius: 6px;
  background-color: #0F5271;
  color: white;
  font-size: 18px;
  box-shadow: 0 1px 2px #808080;
  text-shadow: 0 1px 1px #303030;
  margin: 0;
}
.login button:active {
  margin-top: 1px;
  margin-bottom: -1px;
}
.login button:disabled {
  background-color: #606060;
  margin-top: 0;
  margin-bottom: 0;
}
.errors {
  background: transparent url(icons/error.png) no-repeat;
  background-position: 1em 1em;
  text-indent: 24px;
  padding: 1em;
  border: 1px solid #ff0000;
}
.story {
  padding: 1em;
  background-color: #F0ECCA;
  border-radius: 6px;
}
.story.accepted {
  background-color: #CFE4C7;
}
.story.unstarted {
  background-color: #F1F1F1;
}
.story.unscheduled {
  background-color: #DCECF3;
}
img {
  vertical-align: baseline;
}
img.autolinked {
  margin-left: 0.5em;
  margin-right: 0.5em;
  max-height: 50px;
}
header {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  text-shadow: rgba(256, 256, 256, 0.2) 0px 1px 0px;
}
h1 {
  margin: 0;
  font-size: 20px;
}
h2 {
  margin: 0;
  font-size: 16px;
}
header h1 {
  display: inline-block;
}
time {
  color: #7C7B76;
  font-style: italic;
  font-size: 10px;
}
section {
  margin-bottom: 1.5em;
}
section.details {
  margin-bottom: 0;
}
section:last-child {
  margin-bottom: 0;
}
.itemized>div {
  padding: 0.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  font-size: 14px;
  line-height: 15px;
}
.description pre {
  margin: 1em;
}
.itemized pre {
  padding-left: 1em;
}
.itemized img {
  max-height: 100px;
}
.comments img {
  max-height: 50px;
}
.sig {
  padding-bottom: 1em;
}
.story_type { padding-left: 32px; background-repeat: no-repeat; background-position: 8px 4px; }
.story_type_bug { background-image: url(icons/bug.png); }
.story_type_release { background-image: url(icons/release.png); }
.story_type_chore { background-image: url(icons/chore.png); }
.story_type_feature { background-image: url(icons/feature.png); }
.estimate_-1:after { content: " \2022  unestimated"; }
.estimate_0:after { content: " \2022  0 points"; }
.estimate_1:after { content: " \2022  1 point"; }
.estimate_2:after { content: " \2022  2 points"; }
.estimate_3:after { content: " \2022  3 points"; }

